## Simple Linear Regression Model

In [8]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [10]:
data = pd.read_excel(r"C:\Users\Neha Mathew\OneDrive\Documents\Python Scripts\Data\Linear Regression Model\Salary.xlsx")

In [11]:
data.head()

   YearsExperience  Salary
0              1.1   39343
1              1.3   46205
2              1.5   37731
3              2.0   43525
4              2.2   39891

In [12]:
data.shape

(35, 2)

In [14]:
X_train, X_test, y_train, y_test=train_test_split(data[['YearsExperience']], data.Salary, test_size =0.2, random_state = False)

In [16]:
X_train.shape

(28, 1)

In [18]:
y_train.shape

(28,)

In [21]:
X_test.shape

(7, 1)

In [22]:
y_test.shape

(7,)

In [24]:
model= LinearRegression()

In [25]:
model.fit(X_train, y_train)

LinearRegression()

In [26]:
model.predict(X_test)

array([120057.87672477,  88127.64484315,  73456.99776241, 118331.91824468,
        97620.41648363,  71731.03928232,  63101.24688189])

In [27]:
y_test

29    121872
20     91738
16     66029
28    122391
22    101302
15     67938
10     63218
Name: Salary, dtype: int64

In [28]:
model.score(X_test, y_test)

0.9708090245443415

In [33]:
def salary_predict(exp):
    return model.predict([[exp]])

In [34]:
exp= float(input ('Enter your years of experience : '))
print('The salary you can expect is : ', salary_predict(exp))

Enter your years of experience : 5
The salary you can expect is :  [72594.01852237]

C:\Users\Neha Mathew\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

* Prediction of Salary in a different excel sheet where years of expereience is provided*

In [35]:
to_pred = pd.read_excel(r"C:\Users\Neha Mathew\OneDrive\Documents\Python Scripts\Data\Linear Regression Model\Predicted_salary.xlsx")

In [36]:
model.predict(to_pred)

array([ 59649.32992171,  98483.39572368, 135591.50304556,  68279.12232215,
        72594.01852237,  85538.70712302, 133002.56532543,  55334.43372149,
       202040.90452892, 158891.94252674, 137317.46152565, 115742.98052455,
       141632.35772586, 128687.66912521, 150262.1501263 ])

In [37]:
to_pred['Predicted_salary']=model.predict(to_pred)

In [38]:
to_pred

    YearsExperience  Predicted_salary
0               3.5      59649.329922
1               8.0      98483.395724
2              12.3     135591.503046
3               4.5      68279.122322
4               5.0      72594.018522
5               6.5      85538.707123
6              12.0     133002.565325
7               3.0      55334.433721
8              20.0     202040.904529
9              15.0     158891.942527
10             12.5     137317.461526
11             10.0     115742.980525
12             13.0     141632.357726
13             11.5     128687.669125
14             14.0     150262.150126